body{
	margin: 0;
	padding: 10px 20px;
	font: 18px "Microsoft Yahei",Arial;
}
.message .basic-msg,.contact .about-contact{
	display: inline-block;
	margin-right: 2em;
}
.message .basic-msg p,.contact .about-contact p{
	display: inline-block;
}
.message .basic-msg span,.contact .about-contact span{
	font-weight: 600;
	font-size: 1.1em;
}
.capability  .capability-desc span{
}
.capability  .capability-desc p,.educational .educational-exp p,.project .project-exp p{
  margin-top: 0;
  font-size: 0.8em;
}
